# For Loop (Simple) - Answers

In [1]:
#1

country = ["India", "Canada", "Sweden"]
for i in country:
    print(i)

India
Canada
Sweden

In [2]:
#2

string = "banana"
for i in range(len(string)):
    print(string[i])

b
a
n
a
n
a

In [3]:
#3

country = ["India", "Canada", "Sweden"]
for i in country:
    print(i)
    if i == "Canada":
        break

India
Canada

In [4]:
#4

country = ["India", "Canada", "Sweden"]
for i in country:
    if i == "Canada":
        continue
    print(i)

India
Sweden

In [5]:
#5. Write a Python program to having an empty for loop like this, would raise an error without the pass statement.

In [6]:
#6

for i in range(0, 6):
    print(i)

0
1
2
3
4
5

In [7]:
#7  
    
for i in range(2, 6):
    print(i)

2
3
4
5

In [8]:
#8

for i in range(2, 30, 3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [9]:
#9

for i in range(0, 6):
    print(i)
print('Finally finished!')

0
1
2
3
4
5
Finally finished!

In [10]:
#10

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for i in adjective:
    for j in fruits:
        print(i, j)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [11]:
#11

l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print(d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [12]:
#12

x = [10,20,30,(10,20),40]
count = 0
for i in x:
    if isinstance(i, tuple):
        break
    count = count + 1
print(count)

3

In [13]:
#13

x = [5, 15, 35, 8, 98]
for i in range(len(x)):
    print(i, x[i])

0 5
1 15
2 35
3 8
4 98

In [14]:
#14

x = {}
for i in range(1, 11):
    x[str(i)] = []
print(x)

{'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': []}

In [15]:
#15

n = 5
l = [{} for _ in range(n)]
print(l)

[{}, {}, {}, {}, {}]

In [16]:
#16

x = [1, 2, 3]
name = ['boss', 'sai', 'bala']
for a, b in zip(x, name):
    print(a, b)

1 boss
2 sai
3 bala

In [17]:
#17

name = ['boss', 'sai', 'bala']
for i in range(len(name)):
    print(name[i])

boss
sai
bala

In [18]:
#18

for i in range(10):
    print("$", end = "")

$$$$$$$$$$

In [19]:
#19

x = ["suresh", "boss", "siva", "bala", "sai", "balu", "karthi"]
for n, name in enumerate(x, start=1):
    print("President {}: {}".format(n, name))

President 1: suresh
President 2: boss
President 3: siva
President 4: bala
President 5: sai
President 6: balu
President 7: karthi

In [20]:
#20

name = ["suresh", "boss", "siva", "bala"]
ratios = [0.2, 0.3, 0.1, 0.4]
for i, name in enumerate(name):
    ratio = ratios[i]
    print("{}% {}".format(ratio * 100, name))

20.0% suresh
30.0% boss
10.0% siva
40.0% bala

In [ ]:
# Doubt - #5