# Tuple Hard Solutions

In [10]:
#1
def sums(l):
    result =  map(sum, l)
    return list(result)

nums = [(5, 4), (5, 3), (2, 4)]
print("list of tuples:")
print(nums)
print("\nSum of all the elements of each tuple:")
print(sums(nums))

nums = [(1, 2, 4), (3, 4, -6), (3, 5), (1, 4, 2, 2)]
print("\nlist of tuples:")
print(nums)
print("\nSum of all the elements of each tuple:")
print(sums(nums))

list of tuples:
[(5, 4), (5, 3), (2, 4)]

Sum of all the elements of each tuple:
[9, 8, 6]

list of tuples:
[(1, 2, 4), (3, 4, -6), (3, 5), (1, 4, 2, 2)]

Sum of all the elements of each tuple:
[7, 1, 8, 9]

In [11]:
#2
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)
l = (1,2,3,4)
print("list of tuples:")
print(x)
print(y)
print(z)
print(l)
print("\nElement-wise sum of the said tuples:")
result = tuple(map(sum, zip(x, y, z, l)))
print(result)

list of tuples:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)
(1, 2, 3, 4)

Element-wise sum of the said tuples:
(7, 11, 11, 10)

In [12]:
#3
def names(name, c):
    result = any(c in tu for tu in name)
    return result

items = (('Coffee', 'Tea', 'Boost'), ('Badam', 'Pista', 'Walnut'), ('Sangeetha', 'A2B', 'Saravana'))
print("list of tuples:")
print(items)
c1 = 'Bournvita'
print("Check if",c1,"present in said tuple of tuples!", names(items, c1))
c2 = 'Saravana'
print("Check if",c2,"present in said tuple of tuples!", names(items, c2))

list of tuples:
(('Coffee', 'Tea', 'Boost'), ('Badam', 'Pista', 'Walnut'), ('Sangeetha', 'A2B', 'Saravana'))
Check if Bournvita present in said tuple of tuples! False
Check if Saravana present in said tuple of tuples! True

In [13]:
#4
def tuples(x):
    result = int(''.join(map(str,x)))
    return result

y = (9,20,40,10,70)
print("\nExample tuple: ") 
print(y)
print("positive integers:")
print(tuples(y))

Example tuple:
(9, 20, 40, 10, 70)
positive integers:
920401070

In [14]:
#5
def tuples(l):
    result = tuple((int(x[0]), int(x[1])) for x in l)
    return result
     
l =  (('222', '33'), ('546', '678'))
print("tuple values:")
print(l)
print("\nNew tuple values:")
print(tuples(l))

tuple values:
(('222', '33'), ('546', '678'))

New tuple values:
((222, 33), (546, 678))

In [15]:
def tuples(l):
    result = [sum(x) / len(x) for x in zip(*l)]
    return result

l = ((5, 30, 10, 12), (30, 20, 56, 54), (26, 80, 67, 32), (1, 4, 3, 9))
print ("Example Tuple: ")
print(l)
print("\nAverage value of the numbers:\n",tuples(l))

l = ((1, 1, -7), (10, -15, 56), (71, -60, -39), (-10, 2, 9))
print ("\nExample Tuple: ")
print(l)
print("\nAverage value of the numbers:\n",tuples(l))

Example Tuple:
((5, 30, 10, 12), (30, 20, 56, 54), (26, 80, 67, 32), (1, 4, 3, 9))

Average value of the numbers:
 [15.5, 33.5, 34.0, 26.75]

Example Tuple:
((1, 1, -7), (10, -15, 56), (71, -60, -39), (-10, 2, 9))

Average value of the numbers:
 [18.0, -18.0, 4.75]

In [16]:
#7
def tuples(l):
    num = list(l)
    m = 1 
    for x in num:
        m *= x
    return m

l = (4, 3, 5, 2, -2, 10)
print ("Example Tuple: ")
print(l)
print("multiplying all the numbers:",tuples(l))

l = (2, 6, 8, 7, 3, 1, 9)
print ("\nExample Tuple: ")
print(l)
print("multiplying all the numbers:",tuples(l))

Example Tuple:
(4, 3, 5, 2, -2, 10)
multiplying all the numbers: -2400

Example Tuple:
(2, 6, 8, 7, 3, 1, 9)
multiplying all the numbers: 18144

In [17]:
#8
def tuples(l):
    result = tuple(x for x in l if not x.isspace()) 
    return result
l = "aidinasaur.com"
print("Example string:")
print(l)
print(type(l))
print("\nConvert the said string to a tuple:") 
print(tuples(l))
print(type(tuples(l)))

Example string:
aidinasaur.com
<class 'str'>

Convert the said string to a tuple:
('a', 'i', 'd', 'i', 'n', 'a', 's', 'a', 'u', 'r', '.', 'c', 'o', 'm')
<class 'tuple'>

In [24]:
#9
n=int(input("Enter a number n : "))
temp=str(n)
t1=temp+temp
t2=temp+temp+temp
comp=n+int(t1)+int(t2)
print("The value is :",comp)

Enter a number n : 5
The value is : 615

In [25]:
#10
x = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
slices = x[3:5]
print(slices)
slices = x[:6]
print(slices)
slices = x[5:]
print(slices)
slices = x[:]
print(slices)
slices = x[-8:-4]
print(slices)

y = tuple("HELLO NATURE")
print(y)
slices = y[2:9:2]
print(slices)
slices = y[::4]
print(slices)
slices = y[9:2:-4]
print(slices)

(5, 4)
(2, 4, 3, 5, 4, 6)
(6, 7, 8, 6, 1)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(3, 5, 4, 6)
('H', 'E', 'L', 'L', 'O', ' ', 'N', 'A', 'T', 'U', 'R', 'E')
('L', 'O', 'N', 'T')
('H', 'O', 'T')
('U', ' ')

In [26]:
#11
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2021
Input the month : 3
     March 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [27]:
#12
def num(x, y, z):

    sum = x + y + z
  
    if x == y == z:
        sum = sum * 3
    return sum

print(num(1, 2, 3))
print(num(3, 3, 3))

6
27

In [28]:
#13
def tuples(nums):
    x = 0  
    for num in nums:
        if num == 4:
            x = x + 1

    return x

print(tuples([1, 5, 6, 8, 4]))
print(tuples([1, 4, 6, 2, 7, 5]))

1
1

In [29]:
#14
def vowel(str):
    allvowel = 'aeiou'
    return str in allvowel
print(vowel('c'))
print(vowel('e'))

False
True

In [30]:
#15
def gcds(x, y):
    gcd = 1
    
    if x % y == 0:
        return y
    
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break  
    return gcd

print(gcds(12, 17))
print(gcds(4, 444))

1
4

In [31]:
#16
def lcms(x, y):
    if x > y:
        z = x
    else:
        z = y

    while(True):
        if((z % x == 0) and (z % y == 0)):
            lcm = z
            break
        z += 1

    return lcm
print(lcms(4, 6))
print(lcms(15, 17))

12
255

In [32]:
#17
from math import sqrt
print("Input lengths of shorter triangle sides:")
x = float(input("a: "))
y = float(input("b: "))

c = sqrt(x**2 + y**2)
print("length of the hypotenuse is", c )

Input lengths of shorter triangle sides:
a: 4
b: 5
length of the hypotenuse is 6.4031242374328485

In [33]:
#18
x = ('tuple', True, 5.2, 9)
if type(x) is list:
    print('x is a list')
elif type(x) is set:
    print('x is a set')
elif type(x) is tuple:
    print('x is a tuple')    
else:
    print('Neither a list or a set or a tuple.')

x is a tuple

In [34]:
#19
x = ("apple", "banana", "cherry")
print(x)
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'banana', 'cherry')
('apple', 'kiwi', 'cherry')

In [35]:
#20
x = (("boss", 10), ("suresh", 12), ("anand", 14), ("siva", 20), ("bala", 25), ("karthi", 30))
print(dict((y, x) for x, y in x))

{10: 'boss', 12: 'suresh', 14: 'anand', 20: 'siva', 25: 'bala', 30: 'karthi'}